body {
  padding: 0; 
  margin: 0; 
  overflow-x: hidden;
}
@font-face {
    font-family: myFirstFont;
    src: url(font.ttf);
}
#master {
	min-height: 100%;
	width: 100%;
}
/*#canvas-animation {
	height: 500px;
}*/
.giantTitle {
	z-index: 1;
	position: absolute;
	text-align: center;
}
.giantTitle h1{
	font-family: myFirstFont;
	/*font-family: 'Lato', sans-serif;*/
	font-size: 7em;
}

.githubLink {
	transition: all 0.5s ease;
	border: 0px;
    padding: 10px 60px 10px 60px;
    /* border: 1px solid #E61212; */
    border-radius: 10px;
    background-color: #FD9134;
    color: #fff;
    font-size: 1.3em;
    text-decoration: none;
}
.githubLink:hover {
	transition: all 0.5s ease;
    background-color: #D47523;
}
.scrollBtn {
	transition: all 0.5s ease;
	width: 100px;
    margin-top: 50px;
    cursor: pointer;
}

.scrollBtn:hover {
	width: 120px;
    margin-top: 50px;
}
/*
background

#506A85

*/
